.panel {
	border:1px solid #666;
	padding:4px 4px 4px 4px;
	margin-top:1em;
	background:#EFEFEF url("/images/gradient.gif") 0 0 repeat-x;
	border-color:#f3f3f3 #d6d6d6 #d6d6d6 #f3f3f3;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-webkit-box-shadow:0 0 3px #EFEFEF;
	-moz-box-shadow:0 0 3px #EFEFEF;
	_height:0; /* IE Sucks, hack we must! */
  float: left;
	}

.panel .box {
  float: left;
  padding: 4px; 1px; 4px; 4px;
}

.panel .map {
  width:500px;
	height:500px;
}