/* --------------------------------------------------------------------- */
/* PANELS */
/* --------------------------------------------------------------------- */

/*

	BAR MARKUP
	-------------------------------------------------------------

	<div class="bar">

		<!-- center justified -->
		<h[2-6] class="alpha">[optional header]</h[1-6]>

		<!-- left justified -->
		<div class="beta">
			<a href="#" class="button">[button name]</a> <!-- may also use <input/> or <button/> -->
		</div>

		<!-- right justified -->
		<div class="gamma">
			<a href="#" class="button">[button name]</a>
		</div>

	</div>


	PANEL MARKUP
	-------------------------------------------------------------

	<div class="panel">

		<!--optional .bar goes here -->

		<div class="content text"> <!-- .text class adds optional padding -->
			<!--content here-->
		</div>

		<!--optional .bar goes here -->

	</div>


	TABBED PANEL MARKUP
	-------------------------------------------------------------

	<div class="tabbed_panels">

		<div class="tabs">
			<ul>
				<li class="selected"><a href="#first_panel_name">[tab/panel name]</a></li>
				<li><a href="#second_panel_name">[tab/panel name]</a></li>
			</ul>
		</div>

		<div class="panels_wrapper">

			<div class="panel" id="first_panel_name">

				<!--optional .bar goes here -->

				<div class="content text">
					<a name="first_panel_name"></a>
					[panel content]
				</div>

				<!--optional .bar goes here -->

			</div>

			<div class="panel" id="second_panel_name" style="display:none">

				<!--optional .bar goes here -->

				<div class="content text">
					<a name="second_panel_name"></a>
					[panel content]
				</div>

				<!--optional .bar goes here -->

			</div>

		</div>

	</div>


	AUXILIARY PANEL MARKUP
	-------------------------------------------------------------

	<div class="auxiliary">

		<form id="add_record" class="aux_panel" style="display:none">

			<h2>[panel title]</h2>

			<fieldset>

				<!-- form fields here -->

				<fieldset class="button_wrapper">
					<input type="submit" class="button" value="Submit"/>
					<a href="#add_record" class="button toggle">Cancel</a>
				</fieldset>

			</fieldset>

		</form>

	</div>

	<!-- Corresponding .panel goes here -->

*/

.panel {
	border:1px solid #666;
	padding:0 4px 4px 4px;
	margin-top:1em;
	background:#EFEFEF url("/images/gradient.gif") 0 0 repeat-x;
	border-color:#f3f3f3 #d6d6d6 #d6d6d6 #f3f3f3;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-webkit-box-shadow:0 0 3px #EFEFEF;
	-moz-box-shadow:0 0 3px #EFEFEF;
	_height:0; /* IE Sucks, hack we must! */
	}
.pad {
	padding:10px;
	}

/* Panel cap/foot */

.bar {
	padding-top:20px;
	_margin-right:4px; /* IE Sucks, hack we must! */
	margin-top:4px;
	color:#666;
	position:relative;
	}
.bar .beta, .bar .alpha, .bar .gamma {
	line-height:20px;
	position:absolute;
	top:0;
	height:20px;
	}
.bar .alpha {
	font-size:10px;
	left:0;
	text-align:center;
	width:100%;
	}
.bar .beta {
	left:0;
	}
.bar .gamma {
	right:0;
	}
.bar h1.alpha, .bar h2.alpha, .bar h3.alpha, .bar h4.alpha, .bar h5.alpha, .bar h6.alpha,
.bar h1.beta, .bar h2.beta, .bar h3.beta, .bar h4.beta, .bar h5.beta, .bar h6.beta,
.bar h1.gamma, .bar h2.gamma, .bar h3.gamma, .bar h4.gamma, .bar h5.gamma, .bar h6.gamma {
	font-size:18px;
	font-weight:normal;
	}
.bar form, .bar fieldset, .bar label, .bar input, .bar select {
	float:left;
	}
.bar label {
	padding-right:5px;
	margin:0;
	width:auto;
	}

/* Nav menu */

.bar .gamma.links a, .bar .beta.links a {
	margin:0 8px;
	}
.bar .links li {
	position:relative;
	float:left;
	}
.bar .links li ul {
	margin:0;
	display:none;
	width:130px;
	position:absolute;
	top:20px;
	left:-1px;
	border-width:1px;
	border-style:solid;
	border-color:#f3f3f3 #d6d6d6 #d6d6d6 #f3f3f3;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-webkit-box-shadow:0 0 3px #EFEFEF;
	-moz-box-shadow:0 0 3px #EFEFEF;
	z-index:500;
	background:#EFEFEF url("/images/gradient.gif") 0 0 repeat-x;
	}
.bar .links li:hover ul, .bar .links li.menu_hover ul {
	display:block;
	}
.bar .links li li {
	display:block;
	float:none;
	height:25px;
	}
.bar .links li li a {
	display:block;
	line-height:25px;
	}


/* --------------------------------------------------------------------- */
/* TEXT PANEL */
/* --------------------------------------------------------------------- */

.text {
	padding:0 10px 10px 10px;
	}
.content.text h2 {
	font-size:150%;
	background:#efefef;
	text-align:left;
	margin:2px -8px 0 -8px;
	padding-left:8px;
	}
.text h3 {
	font-size:140%;
	border-bottom:1px solid #f3f3f3;
	margin-left:-10px;
	margin-right:-10px;
	padding-left:10px;
	}
.text h4 {
	font-size:115%; 
	font-weight:bold; 
	}
.text h5 {
	font-size:110%; 
	font-weight:bold; 
	}
.text h2,.text h3,.text h4,.text h5,.text h6 {
	margin-top:1em;
	}
.text abbr,.text acronym {
	border-bottom:1px dotted #666;
	cursor:help;
	} 
.text p, .aux_panel p {
	margin-top:1em;
	}
.text em {
	font-style:italic;
	}
.text del {
	text-decoration:line-through;
	}
.text blockquote,.text ul,.text ol,.text dl {
	margin-top:1em;
	}
.text ol,.text ul,.text dl {
	margin-left:2em;
	}
.text ol li {
	list-style: decimal outside;
	}
.text ul li {
	list-style: disc outside;
	}
.text dl dd {
	margin-left:1em;
	}
.text table {
	margin-top:1em !important;
	}
.text .col_date {
	width:10%;
	}
.text .col_status {
	width:25%;
	}
.text .col_source {
	width:20%;
	}
.text .col_comment {
	width:30%;
	}

/* Stage I */

#stagei .content.text h2 {
	background:#f1f4f8;
	}

/* Facility Tasks */

#facility_tasks .content.text h2 {
	background:#f3efe8;
	}

/* Stage II */

#stageii .content.text h2 {
	background:#eef1e4;
	}

/* --------------------------------------------------------------------- */
/* CRITICAL ELEMENTS */
/* --------------------------------------------------------------------- */

ul.ce_checks {
	margin-left:0;
	}
ul.ce_checks li {
	list-style:none;
	display:block;
	margin-bottom:5px;
	}

/* --------------------------------------------------------------------- */
/* TOGGLE CONTAINER */
/* --------------------------------------------------------------------- */

.toggle_container {
	margin-top:10px;
	border:1px solid #EFEFEF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	}
.toggle_container .contents {
	padding:5px;
	}
.toggle_container .toggle {
	margin:0;
	padding:0 5px;
	line-height:20px;
	font-size:13px;
	font-weight:bold;
	color:#6b8669;
	}

/* --------------------------------------------------------------------- */
/* COMMENT HISTORY */
/* --------------------------------------------------------------------- */

.comment_history ul {
	margin:10px 0 0 0;
	}
.comment_history ul li {
	list-style:none;
	margin-bottom:8px;
	padding:3px;
	}
.comment_history strong {
	font-size:10px;
	}

/* --------------------------------------------------------------------- */
/* AUXILIARY PANEL */
/* --------------------------------------------------------------------- */

#record_manager {
	position:relative;
	}
.auxiliary {
/* 	overflow:hidden; */
	border-width:1px;
	border-style:solid;
	border-color:#f3f3f3 #d6d6d6 #d6d6d6 #f3f3f3;
	padding:0 10px 10px 10px;
	background:#f5f5f5;
	margin-top:1em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-webkit-box-shadow:0 0 3px #EFEFEF;
	-moz-box-shadow:0 0 2px #EFEFEF;
	}
.auxiliary h2 {
	font-size:130%;
	}
.auxiliary h3 {
	font-size:120%;
	}
.auxiliary h2, .auxiliary h3, .auxiliary h4, .auxiliary h5, .auxiliary h6, .auxiliary blockquote, .auxiliary	ul, .auxiliary ol, .auxiliary dl {
	margin-top:1em;
	}
.closeButton {
	cursor:pointer;
	width:21px;
	height:21px;
	position:absolute;
	top:10px;
	right:10px;
	background:url("/images/close_button.gif");
	}


/* --------------------------------------------------------------------- */
/* MISC */
/* --------------------------------------------------------------------- */

#filter input,#filter select {
	width:auto;
	}
#summary li {
	list-style:none;
	}
#status_count {
	margin:10px 0 0 0;
	}
#status_count li {
	list-style:none;
	padding:0;
	}
#checkbox_list .weight {
	margin-top:20px;
	padding-left:35px
	}