<h1>Listing coords</h1>

<table>
  <tr>
  </tr>

<% @coords.each do |coord| %>
  <tr>
    <td><%= link_to 'Show', coord %></td>
    <td><%= link_to 'Edit', edit_coord_path(coord) %></td>
    <td><%= link_to 'Destroy', coord, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New coord', new_coord_path %>