<table summary="List of service nodes">
  <col style="width:40px"/>
  <col/>
  <col/>
  <col/>
  <col/>
  <col/>
  <thead>
  <tr>
    <td>&nbsp;</td>
    <td>Identifier</td>
    <td>Name</td>
    <td>Coordinate</td>
  </tr>
  </thead>
  <tbody>
  <% @nodes.each do |node| -%>
    <tr>
      <td></td>
      <td><%=h(node.identifier)%></td>
      <td><%=h(node.name)%></td>
      <td><%=node.coord%></td>
    </tr>
  <% end -%>
  </tbody>
</table>
