<% content_for :title, "Manage Service Nodes" %>

<!--PANEL-->
<div class="panel">

  <div class="bar">

    <!--AUXILIARY-->
    <div id="record_manager"></div>

    <div class="content" id="node_list">
      <%= render :partial => "nodes_list" -%>
    </div>
  
    <div class="bar">
      <div class="alpha">
        <%= will_paginate @nodes %>
      </div>
    </div>

  </div>
</div>
<!--END PANEL-->