<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<title>Mapping&reg; | <%= yield :title -%></title>
	
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script type="text/javascript">
	  function initialize() {
	    var latlng = new google.maps.LatLng(40.0000, -105.0000);
	    var myOptions = {
	      zoom: 10,
	      center: latlng,
	      mapTypeId: google.maps.MapTypeId.ROADMAP
	    };
	    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	  }

	</script>
	
	<style type="text/css" media="screen">
		@import url("/stylesheets/master.css");
	</style>
</head>

<body onload="initialize()">

	<div id="map_canvas" style="width:200; height:200"></div>

	<%= yield %>

</body>

</html>
